/*
COLOR PALLETE
#cfe0e8
#b7d7e8
#87bdd8
#daebe8
#1987c1
*/

*{
  padding-top: 0px;
  margin-top: 0px;
}

#header {
  background-color: #87bdd8;
  height: 100px;
  line-height: 100px;
  width: 100%;
}

html, body {
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  background-color: #eee;
  font-family: 'Arvo', serif;
}

#checklist {
  padding: 10px;
  margin: 2%;
  background-color: #e2e2e2;
}

.label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.label:hover input ~ .checkmark {
    background-color: #ccc;
}

.label input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked ~ .checkmark:after {
    display: block;
}

.label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

table, tr, td {
  table-layout: fixed;
}

#submit {
  background-color: #008cba;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 24px;
  font-size: 18px;
  border: 2px solid #008cba;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#submit:hover {
  background-color: #eee;
  color: #000;
}

#add-med {
  background-color: #e2e2e2;
  padding: 1% 1%;
  margin: 1%;
}

#medication-input input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-sizing: border-box;
}
